*{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

body{
    background-color: whitesmoke;
}

h1{
    color: darkblue;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px blue ;
    font-weight: bold;
    font-size: 35px;
}

h2{
    color: blue;
    text-align: left;
    letter-spacing:1,5px;
    font-weight: bold;
    font-size: 25px;
}

h3{
    color: cornflowerblue;
    letter-spacing: 1px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

p{
    color: black;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: normal;
    font-size: 15px;

}